.checkout-detail {
	width: 360px;
	height: calc(100vh - 68px);
	top: 68px;
}
.scrollable-cards {
	overflow: scroll;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
.scrollable-cards {
	scrollbar-width: auto;
	scrollbar-color: #1414144e #ffffff64;
	/* overflow-x: hidden; */
}

/* Chrome, Edge, and Safari */
.scrollable-cards::-webkit-scrollbar {
	width: 2px;
	/* overflow-x: hidden; */
}

.scrollable-cards::-webkit-scrollbar-track {
	background: #ffffff;
	/* overflow-x: hidden; */
}

.scrollable-cards::-webkit-scrollbar-thumb {
	background-color: #1414144f;
	border-radius: 10px;
	border: 3px solid #00000040;
	/* overflow-x: hidden; */
}
